<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/style.css">
<head>
    <title>argomenti a caso</title>
</head>
<body>
    <p>sei stato trollato</p>
    <h1>primo argomento: perche 2025 brainrot fa schifo</h1>
    <ul>
        <li>ti rovina il cervello, non e semplicemente barzelette</li>
        <li>nessun contenuto originale</li>
        <li>tutto e solo un remix di canzoni a caso</li>
        <li>i bambini non sanno piu cosa sia un gioco all'aperto</li>
        <li>appena che vedono qualcosa da roblox, dicono roblox</li>
    </ul>
    <h3>adesso avete capito perche penso male di mia generazione, dio ti benedica il cervello da questa malvagia cultura (non ho messo gli accenti perche non so come, scusa per gli errori)</h2>
    <h1>ecco il meteo per informarti se puoi andare a fare una passegiata</h1>
    <iframe src="https://www.meteoblue.com/it/tempo/widget/three/padova_italia_3171728?geoloc=fixed&nocurrent=0&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image&user_key=91705a89ed94a2da&embed_key=c6ef280a0f50f549&sig=de73648aa7996a446b7f0793c2b49464b51a69b05d7ca7f315fc97d87237bd42" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 805px;height: 594px;border: 0;overflow: hidden;"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/it/tempo/settimana/index" target="_blank" rel="noopener">meteoblue</a></div>
</body>
</html>